<div class="d-flex justify-content-between align-items-center p-2 purchase" (click)="onClick()">
  {{ purchase.title }}
  <span class="badge badge-secondary">{{ purchase.price }}</span>
  <button class="btn btn-outline-primary" (click)="onEditClicked($event)">Изменить</button>
  <span class="delete" (click)="onDelete($event)">x</span>

</div>

<div *ngIf="isDateVisible" class="d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-between align-items-center p-2">
    Дата
    <span>{{ purchase.date | date: 'longDate' }}</span>
  </div>
  <div class="d-flex justify-content-between align-items-center p-2">
    Комментарий
    <span *ngIf="purchase.comment">{{ purchase.comment }}</span>
  </div>
</div>
