<div class="container wallet">
  <div class="row wallet-header">
    <div class="col text-center">
      <h4>Мой первый кошелек</h4>
    </div>
  </div>

  <div class="row align-items-center justify-content-sm-between p-2">
    <div class="col col-8">
      Ваши расходы за неделю
    </div>
    <div class="col col-2">
      <button type="button" class="btn btn-outline-primary">+</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Название" aria-label="Название">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Стоимость" aria-label="Стоимость">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-2 justify-content-center">
        <button type="button" class="btn btn-sm btn-outline-secondary">Добавить расходы</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center p-2 purchase">
            Проезд на метро
            <span class="badge badge-secondary">40</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center p-2 purchase">
            Iphone XXL
            <span class="badge badge-secondary">100500</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center p-2 purchase">
            Доширак (острый)
            <span class="badge badge-secondary">123</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row align-items-center text-center p-3 summary">
    <div class="col">
      <span class="summary-label">Итого:&nbsp;</span>
      <span class="summary-value">
        <strong>100663</strong>💰
      </span>
    </div>
  </div>

</div>
