<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="input-group mb-2">
        <input [formControlName]="'title'" type="text" class="form-control"
               [class.is-invalid]="form.get('title').invalid && form.get('title').dirty" placeholder="Название" aria-label="Название">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-2">
        <input [formControl]="priceControl"
               [class.is-invalid]="priceControl.invalid && priceControl.dirty"
               type="text" class="form-control" placeholder="Стоимость" aria-label="Стоимость">
        <div class="invalid-feedback">
          {{ getError(priceControlName) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-2">
        <input formControlName="date"
               type="date" class="form-control" placeholder="Дата" aria-label="Дата">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-2">
        <textarea formControlName="comment" class="form-control" placeholder="Комментарий" aria-label="Комментарий"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-2 justify-content-center">
        <button [disabled]="form.invalid" type="submit" class="btn btn-sm btn-outline-secondary">Добавить расходы</button>
      </div>
    </div>
  </div>
</form>
